DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="vk-clone-super-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
PUSHER_APP_ID="vk_clone_app"
PUSHER_KEY="vk_clone_key"
PUSHER_SECRET="vk_clone_secret"
PUSHER_CLUSTER="eu"
NEXT_PUBLIC_PUSHER_KEY="vk_clone_key"
NEXT_PUBLIC_PUSHER_CLUSTER="eu"
